@charset "UTF-8";

table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 8px;
    text-align: center; /*Alinhamento Horizontal*/
    vertical-align: top; /*Alinhamento Vertical*/
}

.menu{
    background-color: lightgrey;
}

.primeira{
    background-color: yellow;
}

.segunda{
    background-color: red;
}

.terceira{
    background-color: orange;
}

.numero{
    text-align: right;
}